<div class="container">
  <h1 class="text-center">Dash Boards</h1>
  <div class="text-center h4 mb-3">
    <%= "#{@user.name}" %>
  </div>
  <div class="text-center">
    <%= link_to I18n.t('.user_edit'), edit_user_registration_path, class: "btn dash-boards-button" %>
  </div>
  <div class="text-center">
    <%= link_to I18n.t('.sign_out'), destroy_user_session_path, method: :delete, class: "btn dash-boards-button second"  %>
  </div>
</div>