<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%
=begin
%>
<p>テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("成功！！");
  });
</script>
<%
=end
%>
